.idea
*.iml
**/.idea
ps-cfk-infra/bases/00_external/prometheus/charts
ps-cfk-infra/bases/00_external/ingress-nginx/charts
ps-cfk-infra/bases/00_external/datadog/charts
ps-cfk-infra/bases/00_external/elk/charts
ps-cfk-infra/bases/00_external/openldap/charts
ps-cfk-infra/bases/01_operator/charts
ps-cfk-tf/gke/.terraform
ps-cfk-tf/gke/.terraform.lock.hcl
ps-cfk-tf/gke/terraform.tfstate

ps-cfk-infra/bases/01_operator/license-secret.yml
ps-cfk-tf/gke/terraform.tfstate.backup
